server {
  listen 80;
  listen [::]:80 default_server ipv6only=on;
  server_name {{ hostname }};
  location / {
    include uwsgi_params;
    uwsgi_pass 127.0.0.1:8001;
  }
  location /static {
    alias /vagrant/dnflow/static;
  }
}

server {
  listen 8080 default_server;
  listen [::]:8080 default_server ipv6only=on;
  location / {
    proxy_pass http://localhost:8082;
  }
}

